//colors

$Soft-red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%);
$Dark-blue: hsl(198, 62%, 26%);
$Dark-moderate-cyan: hsl(168, 34%, 41%);
$Dark-light-cyan: hsl(168, 44%, 70%);

$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

//ui

$background-body:$White;
$background-menu:$White;
$background-footer:$Dark-light-cyan;
$background-contact:$Yellow;
$background-link-border-one:$Yellow;
$background-link-border-two:$Soft-red;

$color-text-body:$Dark-grayish-blue;
$color-heading-h1:$White;
$color-heading-h2:$Very-dark-desaturated-blue;
$color-text-graphic-design:$Dark-desaturated-cyan;
$color-text-photography:$Dark-blue;
$color-heading-testimonials:$Grayish-blue;
$color-text-testimonials:$Very-dark-grayish-blue;
$color-text-testimonials-name:$Very-dark-desaturated-blue;
$color-text-testimonials-role:$Grayish-blue;
$color-text-footer:$Dark-moderate-cyan;
$color-text-links:$Dark-grayish-blue;